@model IEnumerable<DigitalHomeS.Models.DeviceModels>
@{
                /**/

                ViewBag.Title = "Набор девайсов пользователя";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DigitalHomeS.Controllers
@using Microsoft.AspNet.Identity
@using DigitalHomeS.Services
<p>
    @Html.ActionLink("Добавить Девайс", "Create")

</p>
<p>
<p>

            @{Html.RenderPartial("PartDev");}
          
    </p>

