
@{
    Layout = null;
}
@model DigitalHomeS.Models.ContentPageModels
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        <h2>New Article</h2>

        @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.content_article, "Заголовок")
        <br />
        @Html.EditorFor(model => model.content_article)
        <br /><br />
        @Html.LabelFor(model => model.content_text, "Текст статьи")
        <br />
        @Html.TextAreaFor(model => model.content_text)
        <br /><br />


        <br /><br />
        <input type="submit" value="Добавить" />
}

    </div>
</body>
</html>
